---

- name: Generate admission_token
  command: python -c 'import random; print "%0x.%0x" % (random.SystemRandom().getrandbits(3*8), random.SystemRandom().getrandbits(8*8))'
  register: token_raw

- set_fact:
    admission_token: '{{ token_raw.stdout }}'

- file:
    path: cfg/{{ cluster_name }}
    state: directory

- name: Save token as tokens/cluster_name.yml
  copy:
    dest: cfg/{{ cluster_name }}/token.yml
    content: "admission_token: {{ admission_token }}"
